apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-service
  namespace: thethroneofgames
  labels:
    app: rabbitmq
spec:
  type: ClusterIP
  selector:
    app: rabbitmq
  ports:
  - port: 5672
    targetPort: 5672
    protocol: TCP
    name: amqp
  - port: 15672
    targetPort: 15672
    protocol: TCP
    name: management
---
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-management
  namespace: thethroneofgames
  labels:
    app: rabbitmq
spec:
  type: LoadBalancer
  selector:
    app: rabbitmq
  ports:
  - port: 15672
    targetPort: 15672
    protocol: TCP
    name: management
