apiVersion: v1
kind: Service
metadata:
  name: vendas-api-service
  namespace: thethroneofgames
  labels:
    app: vendas-api
    tier: backend
spec:
  type: ClusterIP
  selector:
    app: vendas-api
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 80
  sessionAffinity: None
---
apiVersion: v1
kind: Service
metadata:
  name: vendas-api-nodeport
  namespace: thethroneofgames
  labels:
    app: vendas-api
    tier: backend
spec:
  type: NodePort
  selector:
    app: vendas-api
  ports:
  - name: http
    protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 30003
